[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SANvi"]
	path = SANvi
	url = https://github.com/fradenti/sanvi
[submodule "intRinsic"]
	path = intRinsic
	url = https://github.com/fradenti/intrinsic
