[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "intRinsic"]
	path = intRinsic
	url = https://github.com/fradenti/intrinsic
	shallow = true
	registered = true
